<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1b35912aa7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <header>
        <div>
            <img src="/images/logo-mercado-liebre.svg" alt="logo">
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Buscar productos, marcas"><br>
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div>
            <p class="apart-paragraf"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav>
            <ul type="none">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul type="none">
                <li><a href="">Creá tu cuenta</a><i class="fa-solid fa-address-card"></i></li>
                <li><a href="">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="">Mis Compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <div class="slider">
            <img src="/images/img-home-banner.jpg" alt="slider">
        </div>
    </header>

    <main>
        <section>
            <h2>Basado en tu ultima visita</h2>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" alt="first-prod" width="250" height="250">
                <div>
                    <i class="fa-solid fa-truck-fast"></i>
                    <p class="prices">$6.770</p>
                    <p class="offers">40% OFF</p>
                    <h4 class="description">Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <img src="images/img-macbook-pro-2019.jpg" alt="second-prod" width="250" height="250">
                <div>
                    <i class="fa-solid fa-truck-fast"></i>
                    <p class="prices">$230.000</p>
                    <p class="offers">20% OFF</p>
                    <h4 class="description">MacBook Pro 2019</h4>
                </div>
            </article>
            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" alt="third-prod" width="250" height="250">
                <div>
                    <i class="fa-solid fa-truck-fast"></i>
                    <p class="prices">$70.500</p>
                    <p class="offers">10% OFF</p>
                    <h4 class="description">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <img src="images/img-tv-samsung-smart.jpg" alt="fourth-prod" width="250" height="250">
                <div>
                    <i class="fa-solid fa-truck-fast"></i>
                    <p class="prices">$6.770</p>
                    <p class="offers">40% OFF</p>
                    <h4 class="description">Cafetera Moulinex</h4>
                </div>
            </article>
        </section>
        <section>
            <h2>Seccion de Ofertas</h2>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" alt="first-prod" width="250" height="250">
                <div>
                    <i class="fa-solid fa-truck-fast"></i>
                    <p class="prices">$6.770</p>
                    <p class="offers">40% OFF</p>
                    <h4 class="description">Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <img src="images/img-macbook-pro-2019.jpg" alt="second-prod" width="250" height="250">
                <div>
                    <i class="fa-solid fa-truck-fast"></i>
                    <p class="prices">$230.000</p>
                    <p class="offers">20% OFF</p>
                    <h4 class="description">MacBook Pro 2019</h4>
                </div>
            </article>
            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" alt="third-prod" width="250" height="250">
                <div>
                    <i class="fa-solid fa-truck-fast"></i>
                    <p class="prices">$70.500</p>
                    <p class="offers">10% OFF</p>
                    <h4 class="description">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <img src="images/img-tv-samsung-smart.jpg" alt="fourth-prod" width="250" height="250">
                <div>
                    <i class="fa-solid fa-truck-fast"></i>
                    <p class="prices">$6.770</p>
                    <p class="offers">40% OFF</p>
                    <h4 class="description">Cafetera Moulinex</h4>
                </div>
            </article>
        </section>
    </main>

    <footer>
        <div>
            <i class="fa-solid fa-credit-card"></i>
            <p><strong>Pagá con tarjeta o en efectivo</strong><br>Con Mercado Liebre Cash, tenés cuotas sin interés con
                tarjeta o efectivo en puntos de pago. ¡Y siempre
                es seguro!</p>
        </div>
        <div>
            <i class="fa-solid fa-gift"></i>
            <!-- <img src="/images/gift.svg" alt="gift"> -->
            <p><strong>Envío gratis desde $ 2.500</strong><br>por estar registrad@ en Mercado Liebre tenés envíos gratis
                en miles de productos. Es un beneficio
                de Mercado Puntos.</p>
        </div>
        <div>
            <i class="fa-solid fa-user-shield"></i>
            <p><strong>Seguridad, de principio a fin</strong><br>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay
                nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </div>
        <div style="text-align: center;">
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </div>
    </footer>

</body>

</html>