<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>

<body>

    <header>
        <div>
            <img src="/img/logo.png" alt="logo">
        </div>
        <div>
            <p>Lugar para poner la barra de búsqueda</p>
        </div>
        <div>
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="">Creá tu cuenta</a></li>
                <li><a href="">Ingresá</a></li>
                <li><a href="">Mis Compras</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Basado en tu ultima visita</h2>
            <div>
                <img src="img/coffe_machine.jpg" alt="first-prod" width="250" height="250">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h4>Cafetera Moulinex</h4>
            </div>
            <div>
                <img src="img/macbook_pro.webp" alt="second-prod" width="250" height="250">
                <p>$230.000</p>
                <p>20% OFF</p>
                <h4>MacBook Pro 2019</h4>
            </div>
            <div>
                <img src="img/SGS10.jpg" alt="third-prod" width="250" height="250">
                <p>$70.500</p>
                <p>10% OFF</p>
                <h4>Samsung Galaxy S10</h4>
            </div>
            <div>
                <img src="img/smart_43.webp" alt="fourth-prod" width="250" height="250">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h4>Cafetera Moulinex</h4>
            </div>
        </section>
        <section>
            <h2>Seccion de Ofertas</h2>
            <div>
                <img src="img/coffe_machine.jpg" alt="first-prod" width="250" height="250">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h4>Cafetera Moulinex</h4>
            </div>
            <div>
                <img src="img/macbook_pro.webp" alt="second-prod" width="250" height="250">
                <p>$230.000</p>
                <p>20% OFF</p>
                <h4>MacBook Pro 2019</h4>
            </div>
            <div>
                <img src="img/SGS10.jpg" alt="third-prod" width="250" height="250">
                <p>$70.500</p>
                <p>10% OFF</p>
                <h4>Samsung Galaxy S10</h4>
            </div>
            <div>
                <img src="img/smart_43.webp" alt="fourth-prod" width="250" height="250">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h4>Cafetera Moulinex</h4>
            </div>
        </section>
    </main>

    <footer>
        <div style="text-align: center;">
            <h4>Pagá con tarjeta o en efectivo</h4>
            <h5>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre
                es seguro!</h5>
        </div>
        <div style="text-align: center;">
            <h4>Envío gratis desde $ 2.500</h4>
            <h5>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio
                de Mercado Puntos.</h5>
        </div>
        <div style="text-align: center;">
            <h4>Seguridad, de principio a fin</h4>
            <h5>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</h5>
        </div>
        <div style="text-align: center;">
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </div>
    </footer>

</body>

</html>