* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

hr {
    margin: 3% 1%;
}

header {
    width: 100%;
    /* max-height: 280px; */
    background-color: #EAC926;
    /* position: fixed;
    top: 0; */
    z-index: 1;
}

.logo {
    max-width: 450px;
}

main {
    width: 90vw;
    text-align: center;
    margin: 3% auto;
}

h2 {
    font-size: 24px;
}

form {
    display: flex;
    width: 90%;
}

.search-bar {
    display: flex;
    margin-left: 10px;
    margin-bottom: 10px;
}

.search-bar input {
    width: 90%;
    margin-right: 1%;
    padding: 1%;
}

.search-bar i {
    font-size: 1em;
    background-color: #ebebeb;
    border: 1px solid black;
    padding: 1%;
    margin: auto 0;
}

.apart-paragraf {
    text-align: center;
}

nav {
    display: none;
}

article {
    margin: 0px 2%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.prices {
    font-size: 18px;
    margin: 0;
}

.offers,
.description {
    font-size: 1.1rem;
}

.offers {
    font-size: 0.8rem;
    font-weight: bold;
    color: #39b54a;
    margin-left: 5%;
    margin-right: auto;
}

.description {
    display: none;
    text-align: center;
    margin: 0;
    margin-bottom: 10%;
}

.burger-menu {
    text-align: center;
}

.burger-menu i {
    background-color: #1259c3;
    color: #ebebeb;
    font-size: 15px;
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
}

.slider img {
    display: none;
    width: 100%;
    max-height: 250px;
}

.product {
    max-width: 75%;
    text-align: center;
    margin-bottom: 10px;
    margin: 0 auto 20px;
}

.product img {
    width: 80%;
    max-width: 250px;
}

.product div {
    text-align: start;
    padding: 3%;
}

.product div:hover .description {
    display: block;
}

.shipping-icon {
    display: flex;
    justify-content: end;
    align-items: center;
    border-top: 1px solid #ebebeb;
}

.price-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shipping-icon i {
    font-size: 1.1rem;
    color: #39b54a;
    padding: 2%;
    border-radius: 50%;
    border: 1px #39b54a solid;
    transition: transform 1.5s;
}

.shipping-icon i:hover {
    transform: rotate(-90deg)
}

footer {
    width: 90vw;
    text-align: center;
    margin: auto;
}

footer div {
    width: 90%;
    margin: auto;
}

footer p {
    margin-top: 0;
    margin-bottom: 10px;
}

.footer-icon i {
    font-size: 2em;
    color: #1259c3;
    margin-bottom: 10px;
}

@media (min-width: 450px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2%;
    }

    .logo {
        width: 30%;
        margin: 1%;
    }

    .search-bar,
    .apart-paragraf {
        margin: 1%;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    .left-navbar,
    .right-navbar {
        display: flex;
        list-style: none;
        text-align: center;
        padding: 0 1%;
        margin: 1%;
    }

    .left-navbar li,
    .right-navbar li {
        margin: 1% 5px;
    }

    .left-navbar a,
    .right-navbar a {
        text-decoration: none;
        color: black;
    }

    .burger-menu {
        display: none;
    }

    .slider img {
        display: block;
    }
}

@media (min-width: 700px) {
    /* header {
        position: static;
        padding-bottom: 20%;
    } */

    body {
        font-size: 16px;
    }

    nav {
        padding: 0px 1%;
    }

    .search-bar {
        width: 50%;
    }

    main {
        width: 100vw;
    }

    .main-section {
        display: flex;
        justify-content: space-around;
        margin-bottom: 5%;
    }

    .product {
        width: 22%;
    }

    footer {
        width: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 12px;
    }

    footer div {
        padding: 1%;
    }

    .footer-icon i:hover {
        color: #2596be;
    }
}